
.dark-mode {
    background-color: black;
}

.firstStage {
    font-weight: bold;
    font-family: 'Orbitron';
    background-color: gray;
}

.normalEvo {
    font-weight: bold;
    font-family: 'Orbitron';
    background-color: aqua;
}

.darkEvo {
    font-family: 'Orbitron';
    font-weight: bold;
    background-color: red;
}

.alterEvo {
    font-family: 'Orbitron';
    font-weight: bold;
    background-color: yellow;
}

.armorEvo {
    font-family: 'Orbitron';
    color: aliceblue;
    font-weight: bolder;
    background: black;
}

.pitulo {
    font-size: 40px;
    background: rgb(27, 109, 168);
    font-weight: bolder;
    font-family: 'Orbitron';
    color: rgb( 254, 219, 97);
}

.digisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.digi_img {
    width: 320px;
    height: 320px;
    background-position: center;
    background-size: cover;
    color: dimgray;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
}

.primeraEtapa {
    border: 4px solid gray;
}

.evoNormal {
    border: 4px solid cornflowerblue;
}

.evoOscura {
    border: 4px solid red;
}

.evoAlterna {
    border: 4px solid yellow;
}

.coraje {
    border: 4px solid red;
}

.amistad {
    border: 4px solid blue;
}

.amor {
    border: 4px solid gainsboro;
}

.pureza {
    border: 4px solid greenyellow;
}

.conocimiento {
    border: 4px solid orange;
}

.sinceridad {
    border: 4px solid purple;
}

.esperanza {
    border: 4px solid salmon;
}

.luz {
    border: 4px solid lightsteelblue;
}

.solidaridad {
    border: 4px solid pink;
}

.milagros {
    border: 4px solid goldenrod;
}

.destino {
    border: 4px solid gold;
}

